.modalStatusOuter {
    position: relative;
    background-image: url('../../img/status.jpg');
    margin: -20px;
    width: 444px;
    height: 460px;
    border-radius: 60px
}

#statusInput {
    max-width: 100px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    color: rgb(103, 21, 151);
    text-shadow: 0 0;
    text-align: center;
    margin: 5px 0 10px 0;
}

.modalStatusInner {
    position: absolute;
    left: 122px;
    top: 117px;
    background: rgba(218, 197, 182, .75);
    width: 200px;
    height: 225px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#newStatus {
    color: rgb(103, 21, 151);
    text-align: center;
    font-size: 25px;
    margin: 15px 0 0 0;
}

#modalStatusButton {
    height: auto;
    /* margin: 10px 0; */
}

#statusName {
    margin-top: 10px;
}