.keyboard {
    margin: 10px 20px;
}

.keyrow {
    display: flex;
}

.key {
    width: 35px;
    height: 35px;
    background: grey;
    border: 3px outset rgb(145, 145, 145);
}

.toprow {
    margin-left: 25px;
    margin-top: 20px;
}

.topbottomrow {
    margin-left: 55px;
}

.bottombottomrow {
    margin-left: 80px;
}

.space {
    width: 140px;
}

/* ======================== */

.outTooltip {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.inTooltip {
    display: flex;
}

.switchOuter {
    margin: 7px 20px;
    position: relative;
    height: 14px;
    width: 34px;
    border-radius: 25px;
    background: rgb(21, 151, 79);
    border: 2px inset rgb(24, 172, 91);
    transition: .6s;
}

.switch {
    position: absolute;
    height: 20px;
    width: 20px;
    top: -4px;
    left: -2px;
    border-radius: 22px;
    background: gray;
    border: 2px outset rgb(145, 145, 145);
    transition: .6s;
}

.off {
    left: 13px;
}

.OuterOff {
    background: rgb(151, 23, 21);
    border: 2px inset rgb(175, 28, 26);
}

.switchLabel {
    min-width: 175px;
    text-align: left;
    margin-bottom: 5px;
}

#lock {
    background-color: rgb(90, 90, 90);
    border: 2px inset rgb(133, 133, 133);
}

#lockbutton {
    border: 2px outset rgb(133, 133, 133);
    background-color: rgb(90, 90, 90);

}
/* ========================= */

.hash {
    margin: 10px 7px 0 7px;
    display: flex;
    flex-direction: column;
}

.hashUrl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid darkgrey;
    border-radius: 2px;
    background-color: rgb(219, 219, 219);
    height: 25px;
}

.innerHashUrl {
    display: flex;
}

.hashUrlText {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif
}

#hashBaseUrl {
    color: grey
}

#hashBattleUrl {
    font-weight: 600;
}

#hashTitle {
    margin-left: 8px;
}

/* ======================== */

h7 {
    padding-top: 5px;
}