.StatusOver {
    display: flex;
    justify-content:center;
}

.StatusList {
    position: fixed;
    bottom: 0;
    width: 900px;
    height: 75px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.StatusItemBox {
    background: white;
    width: auto;
    height: 75px;
    margin-right: 25px;
    padding: 0 25px;
    text-align: center;
    min-width: 120px;

    overflow-y: hidden;
	max-height: 500px;

	transition-property: all;
    transition-duration: .8s;
}

.h-StatusItemBox { 
    background: rgba(218, 197, 182, .75);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.a-StatusItemBox {
    background: rgba(211, 211, 211, 0.75)
}

#modalStatusButton {
    margin: 5px 0 15px 0;
}

#modalClose {
    transform: translateY(100%);
}

.StatusItemCount {
    font-size: 30px;
    margin-top: -10px;
}

.a-StatusItemCount {
    color: black
}