.outHome {
  background: whitesmoke;
  margin: 25px auto;
  width: 500px;
  height: 188px;
  position: relative;
}

.topBorder {
  width: 100%;
  background: rgb(56, 56, 56);
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 179px;
}

.logoHome {
  background-image: url("../img/Logo.png");
  height: 188px;
  width: 188px;
  background-size: cover;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 0;
}

.logoWords {
  display: block;
  color: White;
  font-weight: 800;
  font-size: 25px;
}

.foreground {
  width: 320px;
  height: 148px;
  margin-left: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 10px;
}

.signInText {
  font-size: 14px;
}

.bonfireLink {
  font-weight: 800;
  text-decoration: none;
  color: rgb(163, 74, 1);
}

.bonfireLink:hover {
  color: rgb(56, 56, 56);
}

#signInButton {
  font-weight: 800;
  font-size: 27px;
  font-family: "Spectral SC", serif;
}

@media (max-width: 475px) {
  .outHome {
    width: 100%;
    margin-top: 125px;
  }

  .logoHome { 
    z-index: -1;
    height: 375px;
    top: -125px;
    width: 230px;
  }

  .topBorder {
      padding: 0;
  }

  .foreground {
      margin: 0;
      width: 100%;
  }
}
