.outHome {
    height: 900px;
    width: 900px;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
iframe {
    min-width: 900px;
    min-height: 450px;
    pointer-events: none;
    z-index: -5;
  }

.foreground {
    display: flex;
    flex-direction: column;
}

.videoBox {
    position: relative;
}

.coverUp {
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 900px;
    min-height: 50px;
    z-index: 0;
  }

.outDiveHome {
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 425px;
    margin: -375px auto;
}

.logoHome {
    background-image: url('../img/translogo.png');
    height: 150px;
    width: 425px;
    margin: 0 auto;
    z-index: 1;
}

.inHome {
    background-color:rgba(218, 197, 182, 0.75);
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

.signInInner {
    background-color:rgba(214, 205, 199, .9);
    max-width: 350px;
    min-height: 150px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signIn {
    margin: -25px auto;
    z-index: 0;
}

.signInText {
    text-align: center;
    margin: 0 45px 25px 45px;
    font-size: 12px;
}

#signInButton {
    font-weight: 800;
    color: rgb(151, 23, 21);
    font-size: 25px;
    margin-top: 25px;
}

button#signInButton:hover {
    text-shadow: 1px 1px white
}

