.outHome {
    height: 188px;
    width: 550px;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.logoWords {
    color: White;
    font-weight: 800;
    font-size: 25px;
    margin: -7px 0;
}

.foreground {
    display: flex;
    flex-direction: column;
    border-top: 40px solid rgb(56, 56, 56);
    background: white;;
    height: 188px;
}

.outDiveHome {
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 425px;
    margin: -375px auto;
}

.logoHome {
    background-image: url('../img/Logo.png');
    height: 188px;
    width: 188px;
    background-size: cover;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    top: 0;
    /* background-color: grey; */
}

.signInInner {
    min-height: 150px;
    margin-left: 188px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signIn {
    margin: -25px auto;
    z-index: 0;
}

.signInText {
    text-align: center;
    margin: 0 45px 25px 45px;
    font-size: 12px;
}

#signInButton {
    font-weight: 800;
    font-size: 20px;
    font-family: 'Spectral SC', serif;
    margin: 40px 0px 15px 0px;
}

button#signInButton:hover {
    color: rgb(151, 23, 21);
}