.outHome {
    height: 900px;
    width: 900px;
    margin: 0 auto;
}
  
iframe {
    position: relative;
    width: 900px;
    height: 450px;
    pointer-events: none;
    z-index: -99;
  }

.foreground {
    position: relative
}

.coverUp {
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 900px;
    height: 50px;
    z-index: -50;
  }

.outDiveHome {
    position: relative;
    z-index: 1;
    margin-top: -195px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
}

.logoHome {
    position: absolute;
    top: 0;
    left: 235px;
    background-image: url('../img/translogo.png');
    height: 150px;
    width: 425px
}

.logoWords {
    position: absolute;
    bottom: 0;
    left: 123px;
}

.inHome {
    background-color:rgba(218, 197, 182, 0.75);
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin: 25px 0;
}

.signInInner {
    background-color:rgba(214, 205, 199, 1);
    width: 300px;
    height: 150px;
    border-radius: 25px;
}

.signIn {
    margin: 125px;
}

.signInText {
    margin: 20px;
    font-size: 12px;
}

#signInButton {
    font-weight: 800;
    margin: 35px 25px 0 25px;
    color: rgb(151, 23, 21);
    font-size: 25px;
}

button#signInButton:hover {
    text-shadow: 1px 1px white
}

.outerFeatures {
    margin: 0 35px 25px 35px;
    overflow-y: hidden;
    height: 275px;
}

.featureList {
    text-align: left;
    margin-top: 5px;
}

#odd {
    background: rgba(211, 211, 211, 0.50)
}