.navBar {
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.a-nav {
    background: rgb(56, 56, 56);
}

.navBarInner {
    display: flex;
}

.navItem {
    min-width: 150px;
    height: 35px;
    margin: 0 5px 5px 0;
    text-align: center;
    font-weight: 800;
    max-height: 0px;
}

.h-navItem {
    color: rgb(151, 23, 21);
    background: rgb(151, 23, 21);
    font-family: 'Spectral SC', serif;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.a-navItem {
    color: rgb(214, 214, 214);
    background: rgb(151, 23, 21);
    font-family: 'Spectral SC', serif;
    height: 100%;
}

#navItem {
    margin-top: 10px;
}

#h-settingItem {
    margin-bottom: 20px;
}

#a-settingItem {
    margin-bottom: 27px;
}

.Current {
    overflow-y: hidden;
    max-height: 500px;
	transition-property: all;
	transition-duration: .8s;
}

.Current p {
    color: rgb(214, 214, 214);
}

.h-navLock p {
    color: rgb(214, 214, 214);
}

.a-navLock p {
    color: grey
}

.signIn {
    display: flex;
    align-items: center;
}

.navInVis{
    display: none;
}

.settings {
    font-weight: 400;
    min-width: 150px;
    height: 100%;
    margin: 0 5px 5px 0;
    text-align: right;
    font-size: 17px;
}

.a-settings {
    color: grey
}

.h-settings {
    color: black;
}

button#h-settings:hover {
    text-shadow: 2px 2px 2px white;
}

button#a-settings:hover {
    text-shadow: 2px 2px 2px black;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-left: 80px;
    margin-top: 25px;
    
}

.a-img {
    border: 5px solid rgb(151, 23, 21)
}

.h-img {
    border: 5px solid rgba(218, 197, 182, .75)
}

.settingBanner {
    z-index: 3;
    position: relative;
    top: 0;
    left: 60vw; 
    height: 444px;
    width: 300px;
    overflow-y: hidden;
    transition: .6s;
}

.h-settingBanner {
    background: url('../img/clothe.jpg');
    background-size: 550px 300px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.a-settingBanner {
    background: white;
}

.settingBannerMid {
    height: 444px;
    width: 300px;
}

.h-settingsBannerMid {
    border-bottom: 5px solid rgba(33, 53, 80, .75);
    border-left: 5px solid rgba(33, 53, 80, .75);
    border-right: 5px solid rgba(33, 53, 80, .75);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.a-settingsBannerMid {
    border-bottom: 25px solid rgb(56, 56, 56);
}

.settingInnerBanner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    height: 420px;
    width: 260px;
    padding-top: 25px;
    overflow-y: hidden;
    transition: .6s;
}

.a-settingInnerBanner {
    height: 430px;
    margin-left: 20px;
    background: rgb(56, 56, 56, 0.75);
}

.h-settingInnerBanner {
    background: rgba(33, 53, 80, 0.75);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 15px;
}

.bannerBody {
    margin-top: 0px;
}

.closed {
    height: 0;
}

#settingButton {
    margin: 15px 89px;
    height: 35px;
    width: 82px;
    font-size: 18px;
}

.settingsBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5); 
    z-index: 2;
    transition: .6s
}

.dropClosed {
   height: 0
}

h6 {
    font-size: 18px;
    font-family: 'Spectral SC', serif;
    margin-top: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
}