.navBar {
    padding: 0 0 0 50px;
    display: flex;
    height: 40px
}

.navItem {
    color: rgb(151, 23, 21);
    background: rgb(151, 23, 21);
    min-width: 150px;
    height: 35px;
    margin: 0 5px 5px 0;
    text-align: center;
    font-weight: 800;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    max-height: 0px;
}

.Current {
    color: rgb(214, 214, 214);
    overflow-y: hidden;
	max-height: 500px;

	transition-property: all;
	transition-duration: .8s;
}

.navLock {
    color: rgb(214, 214, 214);
}

#navItem {
    margin-top: 10px;
}