.playerBody {
    height: auto;
    margin: -25px 0;
    background-image: url('../img/Wood1.jpg');
}

.playerHeader {
    text-align: center;
    padding-top: 25px;
}

.playerContent {
    margin: 15px 0 10px 0;
    background: rgba(218, 197, 182, .75);
    border-radius: 25px;
    padding-top: 1px;
    padding-bottom: 20px;
}

.listDiv {
    padding: 0 20px;
}

#playerCount {
    margin-top: 25px;
    font-size: 45px;
}

/* =============================== */
.playerStatus{
    width: 100vw;
    margin: 15px 0;
    min-height: 45px;
    text-align: center;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.statusListInner {
    margin: 0 5px;
}


/* ==================================== */

