p {
    color: black
}

.playerBody {
    height: 250px;
    margin: 0 auto;
    background-image: url('../img/Wood1.jpg');
    padding-bottom: 35px;
    border-radius: 25px;
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#playerUnlocked {
    height: 100%;
}

.playertop {
    background: linear-gradient(to right, rgb(151, 23, 21), transparent, transparent)
}

.topLock {
    padding-top: 35px;
    color: rgb(151, 23, 21)
}

#viewLock {
    text-align: center;
    margin: 25px 25px;
}

.playerHeader {
    color: rgb(151, 23, 21);
    text-align: center;
}

.playerContent {
    margin: 15px auto 10px auto;
    background: rgba(218, 197, 182, .75);
    border-radius: 25px;
    padding: 15px;
    width: 400px
}

.playerContent h2 {
    padding-top: 15px;
}

.listDiv {
    padding: 0 20px;
}

#playerCount {
    margin-top: 25px;
    font-size: 45px;
}

.playerItem {
    display: flex;
    align-items: center;
}

.playerList {
    justify-content: space-between;
}

.fa-tint {
    font-size: 15px;
    margin-left: 10px;
}

.fresh {
    color: rgb(151, 23, 21, 0);
}

.tired {
    color: rgb(151, 23, 21, .25);
}

.hurt {
    color: rgb(151, 23, 21, .5);
}

.bloodied {
    color: rgb(151, 23, 21, .75);
}

.wounded {
    color: rgb(151, 23, 21);
}

.bleeding-out {
    color: black;
}

/* =============================== */
.playerStatus{
    width: 50%;
    margin: 15px 0;
    min-height: 45px;
    text-align: center;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.statusListInner {
    margin: 3px 5px;
}

#playerHeaderField {
    padding-top: 25px
}

/* ==================================== */

@media (max-width: 426px) {
    .playerBody {
        width: 100vw;
        border-radius: 0;
        background-image: none;
        background: rgba(218, 197, 182);
    }

    .playerContent {
        width: 100vw;
    }

    #playerCount {
        margin-bottom: 15px;
    }

    .playerStatus {
        max-width: 450px
    }

    .playerHeader {
        background: rgba(218, 197, 182, .75);
        margin-top: 10px;
        border-radius: 25px;
        padding: 15px;
    }

    #playerBodyLocked {
        background: rgba(218, 197, 182, .75);
        margin-top: 25px;
        border-radius: 25px;
        padding: 15px;
        height: 100%;
    }

    #viewLock {
        margin-top: 0
    }
}