.playerBody {
    height: auto;
    margin: 0 auto;
    background-image: url('../img/Wood1.jpg');
    padding-bottom: 35px;
    border-radius: 25px;
    width: 425px
}

.playertop {
    background: linear-gradient(to right, rgb(151, 23, 21), transparent, transparent)
}

.topLock {
    padding-top: 35px;
}

#viewLock {
    text-align: center;
    margin: 25px 25px;
}

.playerHeader {
    text-align: center;
    padding-top: 25px;
}

.playerContent {
    margin: 15px auto 10px auto;
    background: rgba(218, 197, 182, .75);
    border-radius: 25px;
    padding-top: 1px;
    padding-bottom: 20px;
    width: 400px
}

.listDiv {
    padding: 0 20px;
}

#playerCount {
    margin-top: 25px;
    font-size: 45px;
}

.playerItem {
    display: flex;
    align-items: center;
}

.playerList {
    justify-content: space-between;
}

/* =============================== */
.playerStatus{
    width: 50%;
    margin: 15px 0;
    min-height: 45px;
    text-align: center;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.statusListInner {
    margin: 3px 5px;
}

/* ==================================== */

@media (max-width: 426px) {
    .playerBody {
        width: 100vw;
        border-radius: 0;
        background-image: none;
    }

    .playerContent {
        width: 100vw;
    }

    #playerCount {
        margin-bottom: 15px;
    }

    .playerStatus {
        max-width: 450px
    }

    .playerHeader {
        background: rgba(218, 197, 182, .75);
        margin-top: 10px;
        border-radius: 25px;
        padding: 15px;
    }

    #playerBodyLocked {
        background: rgba(218, 197, 182, .75);
        margin-top: 25px;
        border-radius: 25px;
        padding: 15px;
    }

    #viewLock {
        margin-top: 0
    }
}