.modalDelete {
    border-radius: 25px;
}

.modalDeleteOuter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: -37px;
    position: relative;
    height: 200px;
    width: 300px;
}

.a-modalDeleteOuter {
    margin: 0;
}

.h-modalDeleteOuter {
    border: 7px outset rgb(151, 23, 21);
    background-color:rgba(218, 197, 182, 1);
    border-radius: 25px;
}

#modalDeleteButton {
    color: rgb(151, 23, 21);
    font-weight: 800;
    font-size: 20px;
    margin: 25px;
}

#modalCheck {
    color: rgb(151, 23, 21);
    font-weight: 800;
    font-size: 20px;
    margin: 25px 25px 15px 25px;
}

#checkBorder {
    margin-bottom: 15px;
}

.modalBorder {
        min-width: 50%;
        max-width: 50%;
        margin: 0 0 15px 0;
}