
.SavedField {
    width: 100%;
    padding: 15px;
    height: auto;
}

.savedMenu { 
    margin: 15px 0 15px 20px;
}

.savedList {
    background: rgba(218, 197, 182, .75);
    border-radius: 25px;
    padding: 5px 0 25px 0;
}

.savedListHeader {
    display: flex;
    justify-content: space-around;
    font-weight: 800;
    min-width: 180px;
}

.savedItem {
    min-width: 80px;
    text-align: center;
    margin: 10px 25px;
}

.savedItemName {
    min-width: 180px;
    margin: 0 25px;
    padding: 0;
    text-align: left;
    border: none;
}

.savedCombat {
    display: flex;
    justify-content: space-around;
}

.savedFieldDisplay {
    display: flex;
    justify-content: space-around;
    margin: 12px;
    font-weight: 800;
    transition: .6s
}

#loading {
    animation-name: fade;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fade {
    0% {color: rgb(151, 23, 21);}
    100% {color: white;}
}

.mounted {
    opacity: 1;
    transition: .6s
}

.unmounted {
    opacity: 0
}

#noCombats {
    text-align: center;
}
