@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,800');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
    background: black
}

.header {
    display: flex;
    justify-content:space-around;
    align-items: center; 
    margin: 35px auto -65px auto;
    width: 900px;
}

.logo {
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: 30px
}

.h-logo {
    background-image: url('./img/bonfire.png');
    width: 250px;
    background-size: contain;
}

.headpic {
    height: 145px;
    width: 443px;
    background-repeat: no-repeat;
}

.h-headpic {
    background-image: url('./img/Header.jpg');
}

.appContent {
    width: 900px;
    margin: 100px auto;
    padding-bottom: 25px;
    transition: .6s;
    overflow: hidden;
}

.h-appContent {
    background-image: url('./img/Wood1.jpg');
    border-radius: 25px;
}

.a-appContent {
    background: white;
}

.fadeInApp {
    animation: fadeIn;
    animation-timing-function: linear;
    animation-duration: 1s;
}

.slideDown {
    position: relative;
    width: 900px;
    margin: 0 auto;
    animation: slideDown;
    animation-duration: 1s;
}

.h-border {
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    max-width: 90%;
    margin: 5px auto;
}

.border-non-centered {
    margin: 5px 0;
}

.border-spacer {
    margin: 15px auto;
}

.sectionborder {
    max-width: 25%;
    margin: 5px 0;
}

.graveborder {
    margin-top: 0
}

.countborder {
    min-width: 50%;
    max-width: 50%
}

.routes {
    transition: .6s
}

/* ================================= */

input {
    max-width: 60px;   
    border-style: none;
    font-weight: 800;
    outline: none;
}

.a-input {
    background: transparent;
    font-family: 'Spectral SC', serif;
}

.a-inputSpecial {
    background: lightgrey;
    font-family: 'Spectral SC', serif;
}

.a-inputSpecial::placeholder {
    font-weight: 800;
    font-family: 'Spectral SC', serif;
}

.h-input {
    font-family: 'Spectral SC', serif;
    background: transparent;
}

.h-inputSpecial {
    background: #f5f5f554;
    padding: 0 5px;
    color: rgba(33, 53, 80, 1);
    font-family: 'Spectral SC', serif;
}

.h-inputSpecial::placeholder {
    color: black;
    font-weight: 800;
    font-family: 'Spectral SC', serif;
}

input:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}

button {
    border-style: none;
    height: 100%;
    background-color: transparent;
    font-weight: 800;
    padding: 0;
    outline: none;
}

.a-button {
    font-family: 'Spectral SC', serif;
}

.a-button:hover {
    color: rgb(56, 56, 56)
}

.h-button {
    font-family: 'Spectral SC', serif;
}

button:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* =================================== */

.modalBaseToP {
    border-radius: 60px;
}

.modalToPOuter {
    position: relative;
    border-radius: 60px
}

.h-modalToPOuter {
    background-image: url("./img/ToP.png");
    margin: -20px;
    width: 444px;
    height: 460px;
}

.modalWeaponOuter {
    position: relative;
    background-image: url("./img/weaponPicker.jpg");
    margin: -20px;
    width: 444px;
    height: 460px;
    border-radius: 60px
}

.modalWeaponInner {
    position: absolute;
    left: 72px;
    top: 80px;
    background: rgba(218, 197, 182, .75);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalToPInner {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.h-modalToPInner {
    position: absolute;
    left: 122px;
    top: 130px;
    background: rgba(218, 197, 182, .75);
}

#modalToPInput {
    margin-top: 15px;
    max-width: 100px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    text-shadow: 0 0;
    text-align: center;
    margin: 0
}

/* ==================================== */

.h-modalBannerEdit {
    background-image: url('./img/edit.jpg');
    height: 200px;
    width: 499px;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.h-modalBannerNew {
    background-image: url('./img/AddNew.jpg');
    height: 200px;
    width: 499px;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.modalBannerWeapon {
    background-image: url('./img/weaponPicker.jpg');
    height: 200px;
    width: 499px;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.outModalNew {
    display: flex;
    flex-direction: column;
    width: 499px;
    height: auto;
    position: relative;
    
}

.h-outModalNew {
    background-color:rgba(218, 197, 182, 1);
    margin: -37px;
    border-radius: 25px
}

.inModalNew {
    display: flex;
    justify-content: space-around
}

.modalLeft {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalRight {    
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.modalEditInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

.modalEditInput {
    max-width: 100px;
    font-weight: 800;
    font-size: 15px;
    text-shadow: 0 0;
    margin: 5px 0 10px 0;
}

input#modalEditInput::placeholder {
    color: rgb(121, 121, 121);
    font-weight: 400;
}

#modalAddButton {
    height: auto;
}

/* =================================== */

.settingsBannerOut {
    position: relative;
}

.NavContianer {
    position: relative
}

/* =================================== */
h1 {
    font-weight: 800;
    margin: 15px 0;
}

h2 {
    font-weight: 800;
    font-size: 20px;
}

.a-h2 {
    padding: 10px 25px 10px 10px;
    background: rgb(56, 56, 56);
    color: lightgray
}

.h-h2 {
    font-family: 'Spectral SC', serif;
    color: rgb(151, 23, 21);
    margin: 25px 25px 10px 25px;
}

h3 {
    font-weight: 800;
    font-family: 'Spectral SC', serif;
    color: rgb(151, 23, 21);
    font-size: 20px;
}

.h-subtitle {
    color: white;
    margin-top: 70px;
    margin-left: 185px;
    font-size: 14px;
    text-align: right;
}

.a-subtitle {
    color: black;
    margin-top: 65px;
    margin-left: 75px;
}

h5 {
    font-weight: 800;
    font-size: 15px;
    margin-top: 10px;
}

h6 {
    font-size: 25px;
    font-family: 'Spectral SC', serif;
    margin-top: 5px;
}

.a-font {
    font-family: 'Spectral SC', serif;
}

.a-secFont {
    font-family: 'Spectral SC', serif;
}

.a-color {
    color: lightgray
}

.a-secColor {
    color: rgb(151, 23, 21)
}

.a-thirdColor {
    color: rgb(151, 23, 21);
}

.a-fourColor {
    color: rgb(151, 23, 21);
}

.h-font {
    font-family: 'Spectral SC', serif;
}

.h-secFont {
    font-family: 'Spectral SC', serif;
}

.h-color {
    color: rgb(151, 23, 21);
}

.h-secColor {
    color: rgba(33, 53, 80, 1);
}

.h-thirdColor {
    color: rgb(103, 21, 151);
}

.h-fourColor {
    color: rgb(151, 23, 21);
}

.fontHeader {
    font-size: 25px;
}

.a-fontHeader {
    color: rgb(151, 23, 21);
    font-family: 'Spectral SC', serif;
}

.h-fontHeader {
    color: rgb(151, 23, 21);
    font-family: 'Spectral SC', serif;
}
/* 
.listHeader {
    margin: 10px 3px;
} */

.a-listHeader {
    font-family: 'Spectral SC', serif;
}

.h-listHeader {
    font-family: 'Spectral SC', serif;
    color: rgb(151, 23, 21);
}

.addNewHidden {
    height: 25px;
    margin-bottom: 12px;
}

#modalHeader {
    margin: 0
}

#playerViewMain {
    padding: 2.5% 1%;
    text-align: center;
    width: 600px
}

#playerViewSubtitle {
    margin: 10px 0;
    font-weight: 800;
    font-size: 15px;
}

#playerViewInput {
    margin: 10px auto;
    width: 325px;
}

.loading, .loading::before, .loading::after {
    height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(151, 23, 21, .4);
  border-left-color: rgb(151, 23, 21);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.loading {
  margin: -25px 0 0 -25px;
  height: 50px;
  width: 50px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::before {
  content: "";
  margin: -23px 0 0 -23px;
  height: 44px;
  width: 44px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
  -moz-animation: animation-rotate 1000ms linear infinite;
  -o-animation: animation-rotate 1000ms linear infinite;
  animation: animation-rotate 1000ms linear infinite;
}

.loading::after {
  content: "";
  margin: -29px 0 0 -29px;
  height: 56px;
  width: 56px;
  -webkit-animation: animation-rotate 2000ms linear infinite;
  -moz-animation: animation-rotate 2000ms linear infinite;
  -o-animation: animation-rotate 2000ms linear infinite;
  animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
    #playerViewMain {
        padding: 15px;
        text-align: center;
        width: 100%
    }
}

/* ========================== */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%)
    }
    to {
        transform: translateY(0%)
    }
}