@import url('https://fonts.googleapis.com/css?family=Spectral+SC:400,800');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
    background: black;
}

.header {
    display: flex;
    justify-content:space-around; 
    margin: 35px auto -65px auto;
    width: 900px;
}

.logo {
    background-image: url('./img/logo.jpg');
    height: 145px;
    width: 425px;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: -10px;
}

.headpic {
    background-image: url('./img/Header.jpg');
    height: 145px;
    width: 443px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.appContent {
    width: 900px;
    margin: 100px auto;
    background-image: url('./img/Wood1.jpg');
    border-radius: 25px;
    padding-bottom: 25px;
}

.border {
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    max-width: 90%;
    margin: 5px auto;
}

.sectionborder {
    max-width: 25%;
    margin: 5px 0;
}

.graveborder {
    margin-top: 0
}

.countborder {
    min-width: 50%;
    max-width: 50%
}

/* ================================= */

input {
    max-width: 60px;
    background: transparent;
    border-style: none;
    font-weight: 800;
    font-family: 'MedievalSharp';
}

::placeholder {
    color: black;
    font-weight: 800;
    font-family: 'MedievalSharp';
}

input:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}

button {
    border-style: none;
    background-color: transparent;
    font-weight: 800;
    font-family: 'MedievalSharp';
}

button:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* =================================== */

.modalBaseToP {
    border-radius: 60px;
}

.modalToPOuter {
    position: relative;
    background-image: url("./img/ToP.png");
    margin: -20px;
    width: 444px;
    height: 460px;
    border-radius: 60px
}

.modalToPInner {
    position: absolute;
    left: 122px;
    top: 130px;
    background: rgba(218, 197, 182, .75);
    width: 200px;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#modalToPInput {
    margin-top: 15px;
    max-width: 100px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    color: rgb(151, 23, 21);
    text-shadow: 0 0;
    text-align: center;
    margin: 0
}

/* ==================================== */

.modalBannerEdit {
    background-image: url('./img/edit.jpg');
    height: 200px;
    width: 499px;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.modalBannerNew {
    background-image: url('./img/AddNew.jpg');
    height: 200px;
    width: 499px;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}

.outModalNew {
    display: flex;
    flex-direction: column;
    background-color:rgba(218, 197, 182, 1);
    margin: -37px;
    width: 499px;
    height: auto;
    position: relative;
    border-radius: 25px
}

.inModalNew {
    display: flex;
    justify-content: space-around
}

.modalLeft {
    margin: 15px;
}

.modalRight {
    min-width: 220px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalEditInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

#modalEditInput {
    max-width: 100px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    color: rgba(33, 53, 80, 1);
    text-shadow: 0 0;
    text-align: center;
    margin: 5px 0 35px 0;
}

input#modalEditInput::placeholder {
    color: rgb(121, 121, 121);
    font-weight: 400;
}

/* =================================== */
h1 {
    font-weight: 800;
    margin: 15px 0;
}

h2 {
    font-weight: 800;
    margin: 25px 25px 10px 25px;
    font-family: 'Spectral SC', serif;
    color: rgb(151, 23, 21);
    font-size: 20px;
}

h3 {
    font-weight: 800;
    font-family: 'MedievalSharp';
    color: rgb(151, 23, 21);
    font-size: 20px;
}

h4 {
    font-weight: 800;
    font-size: 25px;
    margin: 15px 0;
    color: white;
    font-family: 'MedievalSharp';
    position: relative;
    left: 123px;
    top: 90px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
}

h5 {
    font-weight: 800;
    font-size: 15px;
    color: rgb(103, 21, 151);
    margin-top: 10px;
}

h6 {
    font-size: 25px;
    font-family: 'MedievalSharp';
    margin-top: 5px;
}

.fontHeader {
    color: rgb(151, 23, 21);
    font-size: 25px;
}

.listHeader {
    font-family: 'Spectral SC', serif;
    color: rgb(151, 23, 21);
}

#modalHeader {
    margin: 0
}