.counterOuter {
    margin-top: 25px;
}

.counterMain {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.h-counterMain {
    max-width: 752px;
}

.a-counterMain {
    background: rgb(52,52,52);
    padding: 10px 0;
    width: 870px;
}

.counterSide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 95px
}

.counterMiddle {
    height: 95px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.counterButton {
    font-weight: 800;
    font-size: 30px;
}

.a-counterButton {
    font-family: 'Spectral SC', serif;
    color: lightgrey;
}

.h-counterButton {
    font-family: 'Spectral SC', serif;
    color: rgb(151, 23, 21);
}
